* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Mina';
}

#cartIcon {
    width: 1.5em;
    height: auto;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em ;
    background-color: rgb(103, 182, 249);
    height: 2.5em;
}

#homeButton {
    cursor: pointer;
}

#main {
    padding:1em .5em 0 .5em;
    display: flex;
    flex-direction: column;
}

#products {
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 3em;
    flex-direction: row;
    margin: auto;
    padding: 0 4em 0 4em;
}

#search {
    margin: 0 0 2em 0;
    height: 2.5em;
    padding-left: .5em;
}

.imgs {
    width: 100%;
    height: auto;
    max-width: 20em;
}

.productDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.textDiv {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: start;
}

@media (max-width: 430px) {

    #products {
        grid-template-columns: 2.5fr 2.5fr;
        padding: 0;
        grid-gap: 1em;
    }

    .imgs {
        height: 10em;
        width: 10em;
    }

}

@media (max-width: 330px) {

    #products {
        grid-template-columns: 2.5fr;
        padding: 0;
    }
}
